<header class="topbar">
    <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search...">
    </div>

    <div class="user-info">
        <!-- <div class="notifications">
            <i class="fas fa-bell"></i>
            <span class="badge">3</span>
        </div> -->
        <div class="user-avatar">
            <img src="{{ url_for('static', filename=session.get('photo', 'uploads/default.png')) }}"
                alt="Profile Picture">
            <!-- <span>Admin</span> -->
        </div>
    </div>
</header>