<aside class="sidebar">
    <div class="sidebar-header">
        <img src="{{ url_for('static', filename='images/web icon.png') }}" alt="Restaurant Logo" class="logo">
    </div>

    <nav class="sidebar-nav">
        <ul>
            <!-- home -->
            {% if session['role'] == 'admin' or session['role'] == 'petugas' %}
            {% set active = request.path == "/dashboard/" in request.path %}
            <li class="{% if active %} active {% endif %}">
                <a href="/dashboard">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            {% endif %}


            {% if session['role'] == 'admin' %}
            <!-- users -->
            {% set active = request.path == "/dashboard/users/" %}
            <li class="{% if active %} active {% endif %}">
                <a href="/dashboard/users">
                    <i class="fas fa-users"></i>
                    <span>Users</span>
                </a>
            </li>
            {% endif %}

            <!-- seats -->
            {% set active = request.path == "/dashboard/seats/" %}
            <li class="{% if active %} active {% endif %}">
                <a href="/dashboard/seats">
                    <i class="fas fa-chair"></i>
                    <span>Seat Management</span>
                </a>
            </li>

            <!-- menus -->
            {% set active = request.path == "/dashboard/menus/" %}
            <li class="{% if active %} active {% endif %}">
                <a href="/dashboard/menus">
                    <i class="fas fa-utensils"></i>
                    <span>Menu Management</span>
                </a>
            </li>

            {% if session['role'] == 'admin' or session['role'] == 'petugas' %}
            <!-- reservations -->
            {% set active = request.path == "/dashboard/reservations/" %}
            <li class="{% if active %} active {% endif %}">
                <a href="/dashboard/reservations">
                    <i class="fas fa-calendar-check"></i>
                    <span>Reservations</span>
                </a>
            </li>
            {% endif %}

            <!-- cart -->
            <!-- gua mau kalo cart items nya 0 maka ilang -->
            {% set active = request.path == "/dashboard/cart/" %}
            {% set cart_items = session.get('cart', []) %}
            <li class="{% if active %} active {% endif %}" id="cart">
                <a href="{{ url_for('cart.cart') }}">
                    <i class="fas fa-shopping-cart"></i>
                    <span>My Cart</span>
                    {% if cart_items %}
                    <span class="cart-badge {% if active %} active {% endif %}">{{ cart_items|length }}</span>
                    {% endif %}
                </a>
            </li>

            <!-- profile -->
            {% set active = request.path == "/dashboard/profile/personal-info/" in request.path %}
            <li class="{% if active %} active {% endif %}">
                <a href="/dashboard/profile/personal-info">
                    <i class="fas fa-user-circle"></i>
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="sidebar-footer">
        <a href="/logout">
            <button id="logoutBtn">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </button>
        </a>
    </div>
</aside>